@using Admin.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageLevelPlugin {
    @RenderSection("PageLevelPlugin", required: false)
}

<!-- sidebar panel -->
@await Html.PartialAsync("_SidebarDashboard")

<!-- content panel -->
<div class="main-panel">
    <!-- top header -->
    <header class="header navbar">
        <div class="brand visible-xs">
            <div class="toggle-offscreen">
                <a href="#" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="brand-logo">
                <img src="~/admin/images/logo-regas.png" height="15" alt="">
            </div>
            <div class="toggle-chat">
                <a href="javascript:;" class="hamburger-icon v2 visible-xs" data-toggle="layout-chat-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
        <ul class="nav navbar-nav hidden-xs">
            <li>
                <p class="navbar-text">
                    @RenderSection("TitleBar", required: false)
                </p>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            @inject SignInManager<ApplicationUser> SignInManager
            @inject UserManager<ApplicationUser> UserManager

            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <a href="javascript:;" data-toggle="dropdown">
                        <span class="pull-left"><i class="fa fa-user fa-large"></i> Online User: @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
                        </li>
                        <li>
                            <a onclick="formLogout.submit();">Logout</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </header>

    <!-- /top header -->
    @RenderBody()

</div>
<!-- /content panel -->
<!-- bottom footer -->
@await Html.PartialAsync("_Footer")

<form id="formLogout" name="formLogout" method="post" asp-controller="Account" asp-action="Logout"></form>

@section PageLevelScripts {
    @RenderSection("PageLevelScripts", required: false)
}

@section InitPageScripts {
    @RenderSection("InitPageScripts", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
