@Model Location

@{
    Layout = "~/Views/Shared/Panel.cshtml";
}

@section PageLevelPlugin {
    <link rel="stylesheet" href="~/admin/vendor/datatables/DataTables-1.10.16/css/dataTables.bootstrap.min.css">
}

@section TitleBar {
    <strong>Setting</strong>
}

<!-- main area -->
<div class="main-content">
    <div class="panel">
        <div class="panel-heading border">
            <ol class="breadcrumb mb0 no-padding">
                <li>
                    <a href="javascript:;">Setting</a>
                </li>
                <li>
                    <a href="javascript:;">Location</a>
                </li>
                <li class="active"><strong>List</strong></li>
            </ol>
        </div>
        <div class="panel-body">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success"><i class="fa fa-lg fa-check-circle"></i> @TempData["message"]</div>
            }
            <div class="pb25">
                <a asp-controller="Location" asp-action="Add" class="btn btn-primary btn-round btn-sm"><i class="fa fa-plus"></i> Add New</a>
            </div>
            <div class="col-md-8">
                <table id="table1" class="table table-bordered bordered table-striped table-condensed datatable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Location Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.LocationID</td>
                        <td>@item.Deskripsi</td>
                        <td>
                            <form method="post" asp-action="Delete">
                                <input type="hidden" name="LocationID" value="@item.LocationID"/>
                                <button type="button" onclick="window.open('/Location/Edit/@item.LocationID','_self')" class="btn btn-round btn-warning btn-xs"><i class="fa fa-edit"></i> Edit</button>
                                <button type="submit" onclick="return confirm('Are you sure you want to delete Location @item.Deskripsi ?');" class="btn btn-round btn-danger btn-xs"><i class="fa fa-times"></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>
<!-- /main area -->


@section PageLevelScripts {
    <script src="~/admin/vendor/datatables/datatables.min.js"></script>
    <script src="~/admin/vendor/datatables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
}

@section InitPageScripts {
    <script>
        $('#table1').DataTable({
            "order": [[0, "asc"]]
        });
    </script>
}
