@model IEnumerable<DCU>

@{
    Layout = "~/Views/Shared/Panel.cshtml";
}

@section PageLevelPlugin {
    <link rel="stylesheet" href="~/admin/vendor/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/admin/vendor/datatables/Buttons-1.5.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="~/admin/vendor/clockpicker/dist/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" href="~/admin/vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/admin/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
}

    @section TitleBar {
    <strong>Nusantara Regas Daily Check Up (DCU)</strong>
}

    <!-- main area -->
    <div class="main-content">
        <div class="panel"> 
            @inject UserManager<ApplicationUser> UserManager
            <div class="panel-heading border">
                <ol class="breadcrumb mb0 no-padding">
                    <li>
                        <a href="javascript:;">Content</a>
                    </li>
                    <li>
                        <a href="javascript:;">DCU</a>
                    </li>
                    <li class="active"><strong>List</strong></li>
                </ol>
            </div>

            <div class="panel-body">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success"><i class="fa fa-lg fa-check-circle"></i> @TempData["message"]</div>
            }
            <div class="row container-fluid no-footer">
                <label class="col-sm-1 control-label">Periode:</label>
                <div class="col-sm-2">
                    <div class="input-prepend input-group input-group-sm">
                        <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" name="daterange" class="form-control drp" onchange="load_params()"/>
                    </div>
                </div>

                @if (User.IsInRole("Admin") || User.IsInRole("AtasanAdmin") || User.IsInRole("AdminQM") || User.IsInRole("AdminNOC"))
                {
                    <div class="pb25 col-md-2">
                        <a asp-controller="DCU" asp-action="Add" class="btn btn-primary btn-round btn-sm"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                }
            </div>
            <div id="list">
                <table id="table1" class="table table-bordered bordered table-striped table-condensed datatable">
                    <thead>
                        <tr>
                            <th>DCUID</th>
                            <th>Waktu</th>
                            <th>Nama</th>
                            <th>Pekerjaan</th>
                            <th>Aktivitas Pekerjaan</th>
                            <th>Nama Perusahaan</th>
                            <th>Sistole</th>
                            <th>Diastole</th>
                            <th>Nadi</th>
                            <th>Suhu</th>
                            <th>Keluhan</th>
                            <th width="100px">Foto</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="listBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DCUID</td>
                                <td>@item.Date.ToString("dd/MM/yyyy hh:mm tt")</td>
                                <td>@item.Nama</td>
                                @{
                                    String tdJenisPekerjaan = "";
                                }
                                @foreach (var jenisPekerjaan in ViewBag.JenisPekerjaan)
                                {
                                    if (jenisPekerjaan.jenis_pekerjaanID == item.JenisPekerjaan)
                                    {
                                        tdJenisPekerjaan = jenisPekerjaan.Deskripsi;
                                    }
                                }
                                <td>@tdJenisPekerjaan</td>
                                <td>@item.DeskripsiPekerjaan</td>
                                <td>@item.NamaPerusahaan</td>
                                <td>@item.Sistole</td>
                                <td>@item.Diastole</td>
                                <td>@item.Nadi</td>
                                <td>@item.Suhu</td>
                                
                                <td>@item.Keluhan</td>
                                <td>
                                    @if (item.Foto != null)
                                    {
                                        <a class="btn btn-info btn-round btn-xs" name="download" href="@Url.Action("DownloadFile", "DCU", new { ID = item.DCUID })"><i class="fa fa-download"></i> Download</a>
                                    }
                                </td>
                                
                                <td>
                                   
                                    <form method="post" asp-action="Delete">
                                        <input type="hidden" name="DCUID" value="@item.DCUID" />
                                        @*<button type="button" onclick="window.open('/DCU/Edit/@item.DCUID','_self')" class="btn btn-warning btn-round btn-xs"><i class="fa fa-pencil"></i> Edit</button>*@
                                        <a asp-controller="DCU" asp-action="Edit" asp-route-id="@item.DCUID" class="btn btn-warning btn-round btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                        <button type="submit" onclick="return confirm('Are you sure you want to delete @item.DCUID ?');" class="btn btn-round btn-xs btn-danger"><i class="fa fa-times"></i> Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<!-- /main area -->
@section PageLevelScripts {
    <script src="~/admin/scripts/dcuIndex.js"></script>
    <script src="~/env.js"></script>
    <script src="~/admin/vendor/datatables/datatables.min.js"></script>
    <script src="~/admin/vendor/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/vendor/datatables/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="~/admin/vendor/datatables/Buttons-1.5.1/js/buttons.flash.min.js"></script>
    <script src="~/admin/vendor/datatables/JSZip-2.5.0/jszip.min.js"></script> 
    <script src="~/admin/vendor/datatables/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/admin/vendor/datatables/pdfmake-0.1.32/vfs_fonts.js"></script>
    <script src="~/admin/vendor/datatables/Buttons-1.5.1/js/buttons.html5.min.js"></script> 
    <script src="~/admin/vendor/datatables/Buttons-1.5.1/js/buttons.print.min.js"></script>
    <script src="~/admin/vendor/moment/moment.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/admin/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/admin/vendor/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/admin/vendor/clockpicker/dist/jquery-clockpicker.min.js"></script>
}

    @section InitPageScripts {
    <script>
        function load_params() {
            $('#listBody').html("<span class='fa-stack fa-lg' style='position: static;'>\n\
                                  <i class='fa fa-spinner fa-spin fa-stack-2x fa-fw'></i>\n\
                               </span>");

            var dateRange = $('.drp').val().split("-");
            var startDate = dateRange[0].trim();
            var endDate = dateRange[1].trim();

            $.ajax({
                url: "dcu/getDCUs?startDate=" + startDate + '&endDate=' + endDate,
                method: "get",
                datatype: "html",
                success: function (result) {
                    $('#list').html(result);
                    $('#table1').DataTable({
                        order: [[0, "desc"]],
                        dom: "Bfrtip",
                        buttons: ["excel"],
                        scrollX: true
                    });
                }
            });
        }
    </script>
    }
