@using Admin.Models.News
@model IEnumerable<News>

@{
    Layout = "~/Views/Shared/PanelPortal.cshtml";
    ViewData["Title"] = "Portal Nusantara Regas";
}

@section PageLevelPlugin {
    <!-- Styles -->
}

<!-- main area -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading border">
                    <strong>@ViewBag.Judul</strong>
                </div>
                <div class="panel-body">
                    <div class="search-results">
                        <ul class="search-results-list">
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <li class="search-result">
                                        <h5>
                                            <a href="javascript:;" class="text-info">@item.Subject</a>
                                        </h5>
                                        <label class="text-muted" style="font-size:8pt">Author: @item.Author</label>
                                        <label class="text-muted" style="font-size:8pt">, Date: @item.PublishingDate.ToShortDateString()</label>
                                        <p>
                                            @Html.Raw(StringHelper.GetFirstParagraph(item.Content))
                                            <a asp-controller="News" asp-action="ViewContent" asp-route-id="@item.NewsID" class="btn btn-primary btn-round btn-xs">Read More</a>
                                        </p>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="search-result">Belum ada berita</li>
                            }
                        </ul>
                        <!-- Pagination can be added here if needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main area -->
@section PageLevelScripts {
}

@section InitPageScripts {
}
