@using Admin.Models.NOC
@using Admin.Models.User
@{
    Layout = "";
    @model IEnumerable<NOC>

}

<table id="table1" class="table table-bordered bordered table-striped table-condensed datatable">
    <thead>
        <tr>
            <th>No</th>
            <th>Waktu</th>
            <th>Lokasi</th>
            <th>Prioritas</th>
            <th>Nama Observer</th>
            <th>Daftar Pengamatan</th>
            <th>Deskripsi</th>
            <th>Tindakan</th>
            <th>Fungsi</th>
            <th>Rekomendasi</th>
            <th>Photo</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="listBody">
        @inject UserManager<ApplicationUser> UserManager
        @foreach (var item in Model)
        {
            var locations = ViewBag.Locations as IEnumerable<Admin.Models.Common.Location>;
            var priorities = ViewBag.Priorities as IEnumerable<Admin.Models.Common.Priority>;
            var observationLists = ViewBag.ObservationLists as IEnumerable<Admin.Models.Common.ObservationList>;
            var departments = ViewBag.Departments as IEnumerable<Admin.Models.Common.Department>;

            <tr>
                <td>@item.NOCID</td>
                <td>@item.EntryDate.ToString("dd/MM/yyyy hh:mm")</td>
                <td>@locations?.FirstOrDefault(l => l.LocationID == item.Lokasi)?.Deskripsi</td>
                <td>@priorities?.FirstOrDefault(p => p.PriorityID == item.Prioritas)?.Deskripsi</td>
                <td>@(UserManager.FindByNameAsync(item.NamaObserver).Result?.Name ?? "")</td>
                <td>@observationLists?.FirstOrDefault(o => o.ObservationListID == item.DaftarPengamatan)?.Deskripsi</td>
                <td>@item.Deskripsi</td>
                <td>@item.Tindakan</td>
                <td>@departments?.FirstOrDefault(d => d.DepartmentID == item.DivisiObserver)?.Deskripsi</td>
                <td>@item.Rekomendasi</td>
                <td>
                    @if (item.Photo != null)
                    {
                        <a class="btn btn-info btn-round btn-xs" name="download" href="@Url.Action("DownloadFile", "NOC", new { ID = item.NOCID })"><i class="fa fa-download"></i> Download</a>
                    }
                    else
                    {
                        <span class="btn btn-warning btn-round btn-xs">No File</span>
                    }
                </td>
                <td>@(item.Status == 1 ? "Open" : "Close")</td>
                <td>
                    <form method="post" asp-action="Delete">
                        <input type="hidden" name="NOCID" value="@item.NOCID" />
                        <a asp-controller="NOC" asp-action="Edit" asp-route-id="@item.NOCID" class="btn btn-warning btn-round btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                        <button type="submit" onclick="return confirm('Are you sure you want to delete @item.NOCID ?');" class="btn btn-round btn-xs btn-danger"><i class="fa fa-times"></i> Delete</button>
                        @if (User.IsInRole("Admin") || User.IsInRole("AtasanAdmin") || User.IsInRole("AdminQM") || User.IsInRole("AdminNOC"))
                        {
                            <button type="button" name="aman" class="btn btn-info btn-round btn-xs" hidden="hidden"><i class="fa fa-arrow-right"></i>AMAN</button>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
